<div class="container">
  <h2 class="mb-3 mt-3"><%= @flat.title %></h2>
  <% if @flat.photos.attached? %>
    <div class="row container-photos">
      <div class="col-12 col-lg-8">
        <%= cl_image_tag @flat.photos.first.key %>
      </div>

      <div class="col-12 col-lg-4">
        <div class="container-mini-photos">
          <%  @flat.photos.each_with_index do |photo, i| %>
            <% if (i>=1 && i<=4) %>
              <%= cl_image_tag photo.key %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row mt-3">
    <div class="col-12 col-lg-8">
      <h4>Subtitle</h4>
      <h5>Description of the flat #rooms #bathrooms</h5>
      <i class="fa-solid fa-star"></i><span> 2 reviews</span>
      <div class="container-host">
        <% if @flat.user.avatar.attached? %>
          <%= cl_image_tag @flat.user.avatar.key, class:"avatar" %>
        <% else %>
          <%= image_tag "no-image-icon.png", alt:'Mini Profile Picture', class:"avatar" %>
        <% end %>
        <p><%= @flat.user.legal_name %></p>
      </div>
      <div class="mt-4">
        <p><%= @flat.description %></p>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="container-price" data-controller="price">
        <span data-price-target="pricepernight"><%= @flat.price_per_night%></span><span>€ / night</span>

        <%= simple_form_for([@flat, @booking]) do |f| %>

          <div class="container-dates">
            <div class="container-start-date">
              <%= f.input :checkin_date, as: :string, input_html: { data: { controller: "datepicker", price_target: "checkin", action: "change->price#calculate" } } %>
            </div>
            <div class="container-end-date">
              <%= f.input :checkout_date, as: :string, input_html: { data: { controller: "datepicker", price_target: "checkout", action: "change->price#calculate" } } %>
            </div>
          </div>
          <div class="container-guest">
            <%= f.input :guests, label: "Number of guests" %>
          </div>
          <%= f.input :price_per_night, as: :hidden, input_html: { data: {price_target: "pnight"} } %>
          <%= f.input :price_in_total, as: :hidden, input_html: { data: {price_target: "ptotal"} } %>
          <%= f.submit "Reserve", class:"btn btn-primary mt-2 button-reserve" %>

        <% end %>

        <div>
          <strong><%= @flat.price_per_night%></strong><span>€ x </span><span data-price-target="numberofday"></span><span> night</span>
        </div>
        <div>
          total price: <span data-price-target="totalprice"></span> €
        </div>
      </div>
    </div>
  </div>
</div>
