<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

        <!-- Loop through properties -->




<div class="container">
  <div class="row">
    <div class="col-md-8">
      <section class="cards-container">
        <div class="card-row">
        <% @flats.each do|flat| %>
    <!-- Row 1 -->
            <div class="card">
                <i class="heart-icon fa-regular fa-heart" style="color: #3b3a3a;" onclick="toggleHeart(this)"></i>
                <% if flat.photos.attached? %>
                  <div class="image-container">
                    <div class="image-carousel">
                      <% flat.photos.each do |photo| %>
                        <%= cl_image_tag photo.key, class: "carousel-image" %>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <%= image_tag "no-image-icon.png", alt:'Mini Profile Picture' %>
                <% end %>
                <%= link_to flat_path(flat) do %>
                  <p class="title"><%= flat.homepagetitle %></p>
                  <p class="description"><%= flat.description %></p>
                  <span><strong><%= flat.price_per_night%></strong> € / night</span>
                <% end %>
            </div>
        <% end %>
          </div>
      </section>

    </div>
    <div class="col-md-4"

    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
  </div>
</div>

<script>
function toggleHeart(element) {
  if (element.classList.contains('fa-regular')) {
    element.classList.remove('fa-regular');
    element.classList.add('fa-solid');
    element.style.color = '#b70101';
  } else {
    element.classList.remove('fa-solid');
    element.classList.add('fa-regular');
    element.style.color = '#3b3a3a';
  }
}
</script>


</body>
</html>
